---
import type { GetStaticPaths } from "astro";
import { ArticleRepositoryImpl } from "@/infrastructure/file-system/article-repository";
import { TagRepositoryImpl } from "@/infrastructure/file-system/tag-repository";
import Shell from "@/layouts/shell.astro";

export const getStaticPaths = (async () => {
	const tagRepository = new TagRepositoryImpl();
	const articleRepository = new ArticleRepositoryImpl(tagRepository);
	const articles = await articleRepository.getAll();
	return articles.map((article) => ({
		params: { id: article.id },
		props: { article },
	}));
}) satisfies GetStaticPaths;

const { article } = Astro.props;
const { Content } = article;
---

<Shell>
  <main>
    <article class="max-w-4xl mx-auto px-4 my-8 lg:my-10 prose lg:prose-lg prose-slate">
      <h1>{article.title}</h1>
      <Content />
    </article>
  </main>
</Shell>
