---
import { ArticleList } from "@/components/article-list";
import { MainColumn } from "@/components/main-column";
import { Prose } from "@/components/prose";
import { ArticleRepositoryImpl } from "@/infrastructure/file-system/article-repository";
import { TagRepositoryImpl } from "@/infrastructure/file-system/tag-repository";
import Shell from "@/layouts/shell.astro";
import "@/styles/globals.css";

const tagRepository = new TagRepositoryImpl();
const articleRepository = new ArticleRepositoryImpl(tagRepository);
const articles = await articleRepository.getAll();
---

<Shell>
  <MainColumn>
    <Prose>
      <h2>Articles</h2>
      <ArticleList articles={articles} />
    </Prose>
  </MainColumn>
</Shell>
