---
import { Separator } from "@/components/separator";
import { ArticleRepositoryImpl } from "@/infrastructure/file-system/article-repository";
import { TagRepositoryImpl } from "@/infrastructure/file-system/tag-repository";
import Shell from "@/layouts/shell.astro";
import "@/styles/globals.css";

const tagRepository = new TagRepositoryImpl();
const articleRepository = new ArticleRepositoryImpl(tagRepository);
const articles = await articleRepository.getAll();
---

<Shell>
  <main class="max-w-4xl mx-auto px-4 my-6 lg:my-8 prose lg:prose-lg prose-slate">
    <h2>Articles</h2>
    <ul>
      {articles.map(article => (
        <li>
          <span class="flex items-baseline space-x-3">
            <span class="flex items-center h-5 space-x-3">
              <time datetime={article.publishedDate.toISOString()}>
                {article.publishedDateStr}
              </time>
              <Separator orientation="vertical" />
            </span>
            <a href={article.url}>{article.title}</a>
          </span>
        </li>
      ))}
    </ul>
  </main>
</Shell>
