---
import { OgType, site } from "@/constant";
import Layout from "@/layouts/layout.astro";
import { ArticleRepository } from "@/repositories/article";

const articleRepository = new ArticleRepository();
const articles = await articleRepository.findAll();
---

<Layout pageTitle={site.title} ogType={OgType.Blog}>
	<ul>
    {articles.map((article) => (
      <li>
        <a href={`/article/${article.id}/`}>{article.title}</a>
      </li>
    ))}
  </ul>
</Layout>
