---
import { TagList } from "@/components/tag-list";
import { TagRepositoryImpl } from "@/infrastructure/file-system/tag-repository";
import Shell from "@/layouts/shell.astro";

const tagRepository = new TagRepositoryImpl();
const tags = await tagRepository.getAll();
---

<Shell>
  <main class="max-w-4xl mx-auto px-4 my-6 lg:my-8 prose-slate">
    <div class="prose lg:prose-lg">
      <h2 class="mb-6 lg:mb-8">Tags</h2>
    </div>
    <TagList tags={tags} />
  </main>
</Shell>
