---
import { MainColumn } from "@/components/main-column";
import { Prose } from "@/components/prose";
import { TagList } from "@/components/tag-list";
import { OgType, site } from "@/constant";
import Layout from "@/layouts/layout.astro";
import { TagRepository } from "@/repositories/tag";

const tagRepository = new TagRepository();
const tags = await tagRepository.findAll();
---

<Layout pageTitle={`Tags | ${site.title}`} ogType={OgType.Article} noIndex>
  <MainColumn>
    <Prose>
      <h2 class="mb-6 lg:mb-8">Tags</h2>
    </Prose>
    <TagList tags={tags} />
  </MainColumn>
</Layout>
