---
import { MainColumn } from "@/components/main-column";
import { Prose } from "@/components/prose";
import { TagList } from "@/components/tag-list";
import { TagRepositoryImpl } from "@/infrastructure/file-system/tag-repository";
import Shell from "@/layouts/shell.astro";

const tagRepository = new TagRepositoryImpl();
const tags = await tagRepository.getAll();
---

<Shell>
  <MainColumn>
    <Prose>
      <h2 class="mb-6 lg:mb-8">Tags</h2>
    </Prose>
    <TagList tags={tags} />
  </MainColumn>
</Shell>
