---
import { Button } from "@/components/button";
import { Drawer } from "@/components/drawer";
import { Separator } from "@/components/separator";
import { SITE_TITLE, NAV_ITEMS } from "@/constants";
---

<header>
  <div class="flex justify-between items-center max-w-5xl mx-auto px-4 py-1.5">
    <a class="text-xl font-semibold lg:text-2xl" href="/">
      {SITE_TITLE}
    </a>
    <ul class="hidden md:flex">
      {NAV_ITEMS.map((item) => (
        <li>
          <a class="block h-full" href={item.url}>
            <Button variant="link">{item.name}</Button>
          </a>
        </li>
      ))}
    </ul>
    <div class="block md:hidden">
      <Drawer client:load />
    </div>
  </div>
  <Separator />
</header>
