---
import { Button } from "@/components/button";
import { Drawer } from "@/components/drawer";
import { Separator } from "@/components/separator";
import { site } from "@/constant";
import type { NavItem } from "@/entities/nav-item";

interface Props {
	navItems: NavItem[];
}

const { navItems } = Astro.props;
---

<header class="z-50 sticky top-0 bg-background/95 backdrop-blur supports-[backdrop-filter]:bg-background/60">
  <div class="flex justify-between items-center max-w-5xl mx-auto px-4 py-1.5 lg:py-2">
    <a class="text-lg lg:text-xl font-semibold no-underline hover:underline" href="/">
      {site.title}
    </a>
    <ul class="hidden md:flex">
      {navItems.map((item) => (
        <li>
          <a class="block h-full" href={item.url}>
            <Button variant="link">{item.name}</Button>
          </a>
        </li>
      ))}
    </ul>
    <div class="block md:hidden">
      <Drawer client:load navItems={navItems} />
    </div>
  </div>
  <Separator />
</header>
