---
import type { GetStaticPaths } from "astro";
import { ArticleList } from "@/components/article-list";
import { TagRepository } from "@/infra/file-system/tag-repository";
import Shell, { OgType } from "@/layouts/shell.astro";
import { ArticleRepository } from "@/infra/file-system/article-repository";
import { Prose } from "@/components/prose";
import { MainColumn } from "@/components/main-column";
import { SITE_NAME } from "@/constants";

export const getStaticPaths = (async () => {
	const tagRepository = new TagRepository();
	const articleRepository = new ArticleRepository(tagRepository);
	const tags = await tagRepository.getAll();
	const promises = tags.map(async (tag) => {
		const articles = await articleRepository.getByTag(tag.id);
		return {
			params: { id: tag.id },
			props: { tag, articles },
		};
	});
	return Promise.all(promises);
}) satisfies GetStaticPaths;

const { tag, articles } = Astro.props;

const shellProps = {
	title: `${tag.name} | ${SITE_NAME}`,
	ogType: OgType.Article,
	noIndex: true,
};
---

<Shell {...shellProps}>
  <MainColumn>
    <Prose>
      <h2 class="mb-6 lg:mb-8">Tags > {tag.name}</h2>
    </Prose>
    <ArticleList articles={articles} />
  </MainColumn>
</Shell>
