---
import { getCollection } from 'astro:content'; // eslint-disable-line import/no-unresolved

import Footer from '../../components/Footer/index.astro';
import Header from '../../components/Header/index.astro';
import { AUTHOR_URL, SITE_TITLE } from '../../configs';
import { extractTagMetadata } from '../../libs';

const tags = await getCollection('tag');
const tagMetadataList = tags.map(extractTagMetadata);
---

<body class="flex min-h-screen flex-col font-main text-base-900">
  <Header title={SITE_TITLE} tagMetadataList={tagMetadataList} />
  <main class="grow overflow-hidden bg-white pb-16 pt-8 md:pb-24 md:pt-12">
    <slot />
  </main>
  <Footer title={SITE_TITLE} authorURL={AUTHOR_URL} />
</body>
